<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ask a Question</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2><-Ask Me a Question About The Course-> </h2>

        <form action="/" method="POST">
            <input type="text" name="question" placeholder="Ask your question..." required>
            <input type="submit" value="Get Answer">
        </form>

        
        <div class="answer-box">
            <h3>Answer:</h3>
            {% if answer %}
                <p>{{ answer }}  </p>
            
                
            {% else %}
                <p>  </p>
            {% endif %}
            

            
        </div>
        
    </div>
</body>
</html>
